
<mat-card class="menu">
   <div class="full-length">
    <mat-action-list>
        <div class="text-center" mat-subheader>Menu</div>
        <button mat-list-item routerLink="/customer/products">
            <mat-icon mat-list-icon>home</mat-icon>Home
        </button>
        <hr>
        <button mat-list-item routerLink="/customer/profile">
            <mat-icon mat-list-icon>account_circle</mat-icon>Profile
        </button>
        <hr>
    
        <button mat-list-item routerLink="/customer/categories">
            <mat-icon mat-list-icon>list</mat-icon>Category
        </button>
        <hr>
        <!-- <button mat-list-item >
                <mat-icon mat-list-icon>book</mat-icon>Products
            </button> -->
        <!-- <button mat-list-item routerLink="/customer/save-product">
                <mat-icon mat-list-icon>add_circle_outline</mat-icon>Add Product
            </button> -->
    </mat-action-list>
   </div>
</mat-card>