<div class="bootstrap-wrapper">
    <div class="container">
        <div class="row" style="margin-top:20px">
            <div class="col-md-6  partition partition1 text-center">
                
                <div class="customer  ">
                    <h1>Welcome customer</h1>
                    <h3>Shop with </h3>
                    <div class="mb-2 text-sm ">
                        <h2 class="text-lg font-bold ">Ecommerce Market</h2>
                        <p class="pt-1">Explore millions of Products of different brands and  shop at your own pace </p>
                        <a class="relative float-right lg:float-right md:float-left text-sm px-3 py-2 shadow-xl btn btn-a"
                            style="top: 14px;" routerLink="/signup/1" role="button">Start Shopping »</a>
                    </div>
                </div>
            </div>
<div class="col-md-6 partition partition2  text-center">
    
        <div class="vendor ">
            <h1>Welcome Vendor</h1>
            <h3>Sell with </h3>
            <div class="mb-2 text-sm ">
                <h2 class="text-lg font-bold ">Ecommerce Market</h2>
                <p class="pt-1">Find millions of customers for your products with a safe and secure market place</p>
                <a class="relative float-right lg:float-right md:float-left text-sm px-3 py-2 shadow-xl btn btn-a"
                    style="top: 14px;" routerLink="/signup/2" role="button">Start Selling »</a>
            </div>
        </div>
</div>
        </div>
    </div>
</div>