<a href="/teacher/teacherView" class="ml-5" style="margin-top:5px;"><span class="glyphicon glyphicon-chevron-left mt-5"></span>Back</a>
<h4>Add Student-Result</h4>
<form method="POST" class="addStu" autocomplete="off">
    <div class="mb-3">
        <label for="rollno" class="form-label">Roll No. : </label>
        <input type="text" name="rollno" required class="form-control" id="rollno">
    </div>
    <div class="mb-3">
        <label for="name" class="form-label">Name : </label>
        <input type="text" name="name" required class="form-control" id="name">
    </div>

    <div class="mb-3">
        <label for="date" class="form-label">Date of Birth : </label>
        <input type="date" name="Dateofbirth" class="form-control" id="date">
    </div>
    <div class="mb-3">
        <label for="score" class="form-label">Score : </label>
        <input type="text" name="score" required class="form-control" id="score">
    </div>
     <button type="submit" class="btn btn-primary ">Add</button>
    
</form>