
<a href="/" class="ml-5" style="margin-top:5px;"><span class="glyphicon glyphicon-chevron-left mt-5"></span>Back</a>
<h3>Teacher Login</h3>
<div class="teachLog ml-4 row">
    <form method="POST" class="teachForm col-6 ">
       <%if(error!=''){%><em class="text-danger col-6"><%=error %></em><%}%>
        <div class="mb-3 ">
            <label for="exampleInputPassword1" class="form-label">User : </label>
            <input type="text" name="user" class="form-control" id="user" required>
            <br>
            <label for="exampleInputPassword1" class="form-label">Password : </label>
            <input type="password" name="password" class="form-control" required id="pass">
            <br>
            <input type="checkbox" style="width: 30px;" onclick="viewPass()">Show Password
            <br>
        </div>
        <a><button type="submit" class="btn btn-primary">Submit</button></a>
    </form>
</div>
<script>
    function viewPass() {
        var x = document.getElementById("pass");
        if (x.type === "password") {
            x.type = "text";
        } else {
            x.type = "password";
        }
    }
</script>
